---
layout: base.njk
title: Contact Us
activePage: contact
description: "Contact Bagani Oil - Premium oils and lubricants made in the Philippines"
pageHeaderTitle: 'Contact <span>Us</span>'
breadcrumbActive: contact us
---

{% include "page-header.njk" %}

<!-- Page Contact Us Start -->
<div class="page-contact-us">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="contact-information">
                    <div class="section-title">
                        <h3 class="wow fadeInUp">contact us</h3>
                        <h2 class="text-anime-style-3" data-cursor="-opaque">Makipag-ugnayan</h2>
                        <p class="wow fadeInUp" data-wow-delay="0.2s">Makipag-ugnayan para sa mga katanungan tungkol sa mga produkto, pagiging dealer, o anumang tanong tungkol sa Bagani Oil.</p>
                    </div>

                    <div class="contact-info-box">
                        <div class="contact-info-item wow fadeInUp">
                            <div class="icon-box">
                                <img src="/images/icon-phone.svg" alt="">
                            </div>
                            <div class="contact-info-content">
                                <h3>contact</h3>
                                <p>{{ site.phone }}</p>
                            </div>
                        </div>
                        <div class="contact-info-item wow fadeInUp" data-wow-delay="0.25s">
                            <div class="icon-box">
                                <img src="/images/icon-mail.svg" alt="">
                            </div>
                            <div class="contact-info-content">
                                <h3>Email</h3>
                                <p>{{ site.email }}</p>
                            </div>
                        </div>
                        <div class="contact-info-item wow fadeInUp" data-wow-delay="0.5s">
                            <div class="icon-box">
                                <img src="/images/icon-location.svg" alt="">
                            </div>
                            <div class="contact-info-content">
                                <h3>Our Address</h3>
                                <p>{{ site.address }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="contact-us-form">
                    <div class="section-title">
                        <h2 class="text-anime-style-2" data-cursor="-opaque">Send us a <span>message</span></h2>
                    </div>

                    <div class="contact-form">
                        <form id="contactForm" action="https://formsubmit.co/vincecarterdelostrico12@gmail.com" method="POST" class="wow fadeInUp" data-wow-delay="0.5s">
                            <input type="hidden" name="_subject" value="New Message from Bagani Website">
                            <input type="hidden" name="_next" value="https://bagani.com/contact/">
                            <input type="hidden" name="_captcha" value="false">
                            <input type="text" name="_honey" style="display:none">
                            <div class="row">
                                <div class="form-group col-md-6 mb-4">
                                    <input type="text" name="fname" class="form-control" id="fname" placeholder="Enter first name" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-md-6 mb-4">
                                    <input type="text" name="lname" class="form-control" id="lname" placeholder="Enter last name" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-md-12 mb-4">
                                    <input type="email" name="email" class="form-control" id="email" placeholder="Enter your e-mail" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-md-12 mb-4">
                                    <input type="text" name="phone" class="form-control" id="phone" placeholder="Enter your phone no." required>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-md-12 mb-4">
                                    <input type="text" name="store_name" class="form-control" id="store_name" placeholder="Enter store name">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-md-12 mb-5">
                                    <textarea name="message" class="form-control" id="message" rows="4" placeholder="Write Message"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn-default"><span>submit message</span></button>
                                    <div id="msgSubmit" class="h3 hidden"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  Page Contact Us End -->

<!-- Google Map Start -->
<div class="google-map">
    <div class="container-flude">
        <div class="row">
            <div class="col-lg-12">
                <div class="google-map-iframe">
                    <iframe src="https://maps.google.com/maps?q=Oracle%20Petroleum%20Corporate%20Center,%2072%20Mayor%20Ignacio%20Santos%20Diaz%20St.,%20Brgy.%20San%20Martin%20de%20Porres,%20Cubao,%20Quezon%20City&t=&z=16&ie=UTF8&iwloc=&output=embed" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Google Map End -->
