---
layout: base.njk
title: News
activePage: news
pageHeaderTitle: 'News & <span>Announcements</span>'
breadcrumbActive: news
---

{% include "page-header.njk" %}

<script>window.externalNews = {{ externalNewsList | jsonSafe | safe }};</script>

<div class="page-blog mag-blog">
    <div class="container">
        <div class="row g-4 mag-grid" id="sanity-news-grid">
            <div class="col-12 text-center py-5">
                <p style="color:#aaa">Loading articles...</p>
            </div>
        </div>
    </div>
</div>
